@import "../abstracts/variables";

.sidebar {
    width: 283px;
    height: calc(100svh - 100px);
    background: #FFFFFF;
    box-shadow: 0px 5px 20px 0px #0000000A;
    position: fixed;
    left: 0;
    top: 100px;
    overflow-y: auto;
    padding-bottom: 10px;
    padding-top: 20px;

    .links-header {
        font-family: Work Sans;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0px;
        color: $text-gray;
        padding-left: 29px;
        margin-bottom: 10px;
    }

    ul {
        margin-bottom: 20px;
    }

    .nav-link {
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 29px;
        text-decoration: none;
        font-family: Work Sans;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #213f7d;
        opacity: 60%;
        gap: 20px;
    }

    .nav-link.active-1 {
        color: #213f7d;
        opacity: 1;
        background: rgba(57, 205, 204, 6%);
        border-left: 3px solid #39CDCC;
    }

    .top-side {
        opacity: 1;
    }
}



@media(max-width: 1100px){
    .sidebar {
        left: -283px;
    }
}