// Colors
$text-blu: #213F7D;
$text-gray: #545F7D;

// Typography
// $font-main: "Inter", sans-serif;

// Spacing
// $radius: 10px;
// $spacing: 1rem;

// Breakpoints
// $break-sm: 640px;
// $break-md: 768px;
// $break-lg: 1024px;
