@import "../abstracts/variables";

#sign-in {
    padding: 20px 60px;
    padding-top: 70px;
    min-height: 100svh;
    background: #FFFFFF;

    .logo-img {
        margin-bottom: 60px;
        width: 173.8px;
        height: 36px;

    }
    .sign-in-main {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .form-section {
        width: fit-content;
        padding: 10px;

        h1 {
            font-family: Avenir Next;
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            letter-spacing: -4%;
            color: $text-blu;
            margin-bottom: 20px;

        }

        h4 {
            font-family: Avenir Next;
            color: $text-gray;
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            margin-bottom: 70px;
        }

    }

    .left img {
        width: 600px;
        height: 337.6px;
    }

    .input-container {
        margin-bottom: 20px;
    }

    .error {
        color: red;
        font-size: 11px;
    }

    .input-container input {
        width: 447px;
        height: 50px;
        border-radius: 5px;
        border: 2px solid #545F7D26;
        color: $text-gray;
        padding-left: 10px;
        padding-right: 10px;
        outline: none;
        font-family: Avenir Next;
    }

    .password-cont input {
        padding-right: 50px;
    }

    input::placeholder {
        color: $text-gray;
        font-family: Avenir Next;
        opacity: 60%;
    }

    .password-cont {
        position: relative;

        .toggle {
            position: absolute;
            right: 10px;
            transform: translateY(-50%);
            top: 50%;
            color: #39CDCC;
            font-family: Avenir Next;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 10%;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    .forgot-pass {
        font-family: Avenir Next;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 10%;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 20px;
        color: #39CDCC;
        cursor: pointer;
    }

    .log-in-btn {
        width: 447px;
        height: 48px;
        border-radius: 8px;
        background: #39CDCC;
        font-family: Avenir Next;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 10%;
        text-transform: uppercase;
        border: 0;
        display: block;
        color: #FFFFFF;
        cursor: pointer;
    }

}
    
@media(max-width: 1144px) {
    #sign-in {

        .left img {
            width: 450px;
            height: auto;
        }
    }
}

@media(max-width: 990px) {
    #sign-in {

        .logo-img {
            margin-bottom: 40px;
        }

        .left img {
            width: 350px;
        }

        .form-section {
            h1 {
                margin-bottom: 15px;
            }

            h4 {
                margin-bottom: 40px;
            }
        }

        .input-container input, .log-in-btn {
            width: 350px;
        }
    }
}

@media(max-width: 795px) {
    #sign-in {
        padding: 20px 20px;


        .sign-in-main {
            flex-direction: column-reverse;
            align-items: center;
            gap: 20px;
        }

        .form-section {
            width: 100%;
        }

        .input-container input, .log-in-btn {
            width: 100%;
        }

        .left img {
            width: 100%;
        }
    }
}