@import "../abstracts/variables";

#users-page {
    padding: 40px 20px;

    .demograph h1 {
        font-family: Work Sans;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #213F7D;
        margin-bottom: 20px;
    }

    .boxes {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        row-gap: 12px;
        flex-wrap: wrap;
    }

    .box {
        box-shadow: 3px 5px 20px 0px #0000000A;
        border: 1px solid #213F7D0F;
        background: #FFFFFF;
        width: 24%;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        gap: 10px;
        padding: 20px 5px 30px 25px;

    }

    .box img {
        width: 40px;
        height: 40px;
    }

    .box h4 {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: $text-gray;
    }

    .box p {
        color: $text-blu;
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
    }
}

@media(max-width: 650px) {
    #users-page {
        .box {
            width: 49%;
        }
    }
}