// @font-face {
//   font-family: "Avenir Next";
//   src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("woff2");
// //   font-weight: 400;
// }

// @font-face {
//   font-family: "Avenir Next";
//   src: url("../assets/fonts/AvenirNextLTPro-Heavy.otf") format("woff2");
//   font-weight: 700;
// }



@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Medium.otf") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}