@import '../variables';

.header {
    display: flex;
    align-items: center;
    padding: 0 25px;
    color: $primary-color;
    height: 100px;
    box-shadow: 3px 3px 3px #0000000A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 50;

    .mini-logo {
        display: none;
    }

    .search-container {
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border: 1px solid $text-color;
        margin-left: 140px;
        width: 400px;

        input {
            height: 40px;
            border: none;
            outline: none;
            width: calc(100% - 56px);
            padding: 0 6px;
        }

        button {
            background-color: $sec-color;
            border-radius: 0;
            border: none;
            height: 40px;
            width: 56px;
            color: white;
            font-weight: 600;
        }
    }

    .nav-icons {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            border-radius: 50%;
        }

        .doc-link {
            color: $primary-color;
        }
    }
}

.bars {
    display: none;
}

@media(max-width: 1140px){
    .bars {
        display: block;
    }
}

@media(max-width: 1000px){

    .header {

        .search-container {
            width: 300px;
            margin-left: 60px;
        }
    }
}

@media(max-width: 800px){

    .header {
        .big-logo {
            display: none;
        }
    
        .mini-logo {
            display: block;
        }
    }
}

@media(max-width: 650px){
    .header {
        .search-container {
            width: 180px;
            margin-left: 30px;
        }
    }
}

@media(max-width: 450px){
    .header {
        .search-container {
            display: none;
        }
    }
}