@import '../variables';

.table-title {
    display: flex;
    align-items: center;
    gap: 2px;
}

.status-badge {
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.75rem;
    text-transform: capitalize;
  
    &.Active {
      background-color: #e6ffed;
      color: #27ae60;
    }
  
    &.Inactive {
      background-color: #8c92a6;
      color: $text-color;
    }
  
    &.Pending {
      background-color: #fff9e6;
      color: #f1c40f;
    }
  
    &.Blacklisted {
      background-color: #f9e6ff;
      color: #9b59b6;
    }
  }
  

.table-container {
    padding: 20px;
    background-color: white;
    box-shadow: 10px 10px 10px #0000000A;
    border: 1px solid #213F7D0F;
    border-radius: 4px;
    position: relative;
    min-width: 800px;
}

.table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    position: relative;

    .table-head {
        cursor: pointer;
    }

    

    .tb-row:nth-child(1){
        border-top: none;
    }
    
    .tb-row {
        border-top: 1px solid #213F7D1A;

        td {
            padding: 20px 0;
        }
    }


    .ellipsis-container {
        position: relative;

        .edit-user-status {
            background-color: white;
            box-shadow: 3px 5px 3px #0000000A;
            border: 1px solid #545F7D0A;
            border-radius: 4px;
            font-size: 14px;
            padding: 15px 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            display: none;
            width: 140px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3px;
    
            div, a {
                display: flex;
                align-items: center;
                gap: 11px;
                text-decoration: none;
                padding: 2px 0;
                cursor: pointer;
                color: $text-color;
    
            }
    
            div:hover, a:hover {
                color: $primary-color;
            }
    
    
        }
        .reveal-user-status-modal {
            display: flex;
        }
        .ellipsis {
            cursor: pointer;
        }
    }

}

.set-filter {
    width: 270px;
    border-radius: 4px;
    display: none;
    box-shadow: 10px 10px 10px #0000000A;
    padding: 30px 20px;
    background-color: white;
    font-size: 14px;
    color: $text-color;
    position: absolute;
    top: 5px;

    .data-container {
        margin-bottom: 10px;

        label {
            display: inline-block;
            margin-bottom: 6px;
        }

        .data-field {
            width: 100%;
            border: 1px solid $primary-color;
            border-radius: 8px;
            height: 40px;
            outline: none;
            background-color: white;
            font-size: 14px;
            color: $text-color;
            padding: 0 4px;
        }
    }
}

.display-modal {
    display: block;
}

.pagination-container {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;

    .pagination-left {
        display: flex;
        gap: 12px;
        align-items: center;
        font-size: 10px;

        select {
            width: 80px;
            font-size: 10px;
            height: 30px;
            border-radius: 4px;
            background-color: #213F7D1A;
            color: $primary-color;
            font-weight: 500;
            outline: none;
            border: none;
            padding: 0 5px;
        }

        span:nth-child(1) {
            font-size: 14px;
        }
    }


    .pagination-right {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .right-btn {
        height: 24px;
        width: 24px;
        background-color: #213F7D1A;
        border-radius: 0.25rem;
        border: none;
    }

    .right-btn:disabled {
        opacity: 0.5;
    }

    .left-btn {
        height: 24px;
        width: 24px;
        border-radius: 0.25rem;
        border: none;
    }

    .current {
        color: $text-color;
        font-weight: 500;
    }

    .not-current {
        color: $text-color;
        font-weight: 400;
        opacity: 0.6;
    }

    .number {
        border: none;
        background-color: transparent;
    }
}